{
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": [
    "css-modules",
    "vue"
  ],
  "globals": {
    "__DEV__": true,
    "fixture": true
  },
  "env": {
    "browser": true,
    "jest": true
  }
}