<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- start:css -->
  <link rel="stylesheet" href="/vendor/base-219f0ca0.css"/>
  <link rel="stylesheet" href="/detail/detail-ea3402fa.css"/>
  <!-- end:css -->
  <title>Detail</title>
</head>
<body>
  <div id="app">
  <!--vue-ssr-outlet-->
  </div>
  <!-- start:js -->
  <script src="/vendor/base-75ce917a.js"></script>
  <script src="/detail/detail-ea3402fa.js"></script>
  <!-- end:js -->
  <!-- start:browser-sync -->
  
  <!-- end:browser-sync -->
</body>
</html>