<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- start:css -->
  <link rel="stylesheet" href="/vendor/base-ac163223.css"/>
  <link rel="stylesheet" href="/index/index-17c64be9.css"/>
  <!-- end:css -->
  <title>SSR Boilerplate</title>
</head>
<body>
  <div id="app">{{{markup}}}</div>
  <script type="application/json" id="initial-state">{{{initialState}}}</script>
  <!-- start:js -->
  <script src="/vendor/base-b2076b98.js"></script>
  <script src="/index/index-17c64be9.js"></script>
  <!-- end:js -->
  <!-- start:browser-sync -->
  
  <!-- end:browser-sync -->
</body>
</html>