<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- start:css -->
  <link rel="stylesheet" href="/vendor/base-286bc745.css"/>
  <link rel="stylesheet" href="/index/index-73882f20.css"/>
  <!-- end:css -->
  <title>Index</title>
</head>
<body>
  <div id="app">
  <!--vue-ssr-outlet-->
  </div>
  <!-- start:js -->
  <script src="/vendor/base-2c09ef36.js"></script>
  <script src="/index/index-73882f20.js"></script>
  <!-- end:js -->
  <!-- start:browser-sync -->
  
  <!-- end:browser-sync -->
</body>
</html>