.detail {
    text-align: center
    padding:px2rem(10) px2rem(8)
    &>img {
        width: px2rem(100)
        border-radius: px2rem(4)
    }
    &>span {
        flex: 1
        padding: 0 px2rem(8)
        &>p {
            margin: 0;
            line-height: px2rem(24)
            color: #4100FF
            text-align: left
            font-dpr(14)
            &:last-child {
                font-dpr(12)
                color: #888
            }
        }
    }
}
